# Dependencies
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite

# Uploads
uploads/

# Environment
.env
.env.local

# Logs
*.log

# Real data
public/data/real/

ТЗ_ Анализ участников вебинаров.txt

tests/

vitest.config.ts

docs/

scripts/


все_вебинары_с_тегами_final.xlsx


Выгрузка МТС-Линк 2021 - Август 2026 \[8lClqq].xlsx


ДОБАВИТЬ_ТЕГИ.md
